<html>
    <head>
       {% if title %}
          <title>{{ title }} - Project </title>
       {% else %}
          <title> Welcome to Project Portal! </title>
       {% endif %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class ="nav-container">
        <table>
            <tr>
                <td><a href="{{ url_for('routes.index') }}" class = "button">Open Positions</a></td>
                <td><a href="{{ url_for('routes.postposition') }}" class = "button"> Post Position </a></td>
                <td><a href="{{ url_for('routes.addexperience') }}" class = "button">Add New Experience</a></td>
                <td><a href="{{ url_for('routes.addfield') }}" class = "button">Add New Research Field</a></td>
                <!--<td><a href="" class = "button"> Login </a></td>-->
                <!--<td><a href="" class = "button"> Logout </a></td>-->
                <td> Current user is: <span class="useritem">________ </span> </td>  
            </tr>
        </table>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>