{% extends "base.html" %}

{% block content %}

<div class="login-section">

    <h1>Sign In</h1>
    {% if form %}
    <form action="" method="post">
        {{form.hidden_tag() }}
        <div>
            <!--& Username section  -->
            {{form.username.label}} <br>
            {{form.username (class = 'formtitle')}} <br>

            {% for errors in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <!--& Password section  -->
            {{form.password.label}} <br>
            {{form.password (class = 'formtitle')}} <br>

            {% for errors in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <!--& submit section  -->
            <p>{{form.submit (class = 'login-btn' )}}</p>

            <!--& remember me section  -->
            {{form.remember_me.label}} <br>
            {{form.remember_me }} <br>

            {% for errors in form.remember_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}


        </div>
    </form>
    {% endif %}
    <h3>New Student? <a class="login-link" href="{{ url_for('auth.studentRegister')}}">Click to Register!</a></h3>
    <h3>New Faculty? <a class="login-link" href="{{ url_for('auth.facultyRegister') }}">Click to Register!</a></h3>
</div>
{% endblock %}