{% extends "base.html" %}

{% block content %}

    <div class="student-register-section">
        <h1>Student Registration</h1>

        {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                <div>
                    {{form.firstName.label(class="forminput")}}<br>
                    {{form.firstName(class="formbox")}}
                </div>
                <div>
                    {{form.lastName.label(class="forminput")}}<br>
                    {{form.lastName(class="formbox")}}
                </div>
                <div>
                    {{form.wsuID.label(class="forminput")}}<br>
                    {{form.wsuID(class="formbox")}}
                </div>
                <div>
                    {{form.username.label(class="forminput")}}<br>
                    {{form.username(class="formbox")}}
                </div>
                <div>
                    {{form.phone.label(class="forminput")}}<br>
                    {{form.phone(class="formbox")}}
                </div>
                <div>
                    {{form.gpa.label(class="forminput")}}<br>
                    {{form.gpa(class="formbox")}}
                </div>
                <div>
                    {{form.grad_date.label(class="forminput")}}<br>
                    {{form.grad_date(class="formbox")}}
                </div>
                <div>
                    {{form.email.label(class="forminput")}}<br>
                    {{form.email(class="formbox")}}
                </div>
                <div>
                    {{form.password.label(class="forminput")}}<br>
                    {{form.password(class="formbox")}}
                </div>
                <div>
                    {{form.password2.label(class="forminput")}}<br>
                    {{form.password2(class="formbox")}}
                </div>
                <div>
                    {{ form.field.label}}:<br>
                    {{ form.field(class = "research-tags")}}
                </div>
                <div>
                    {{ form.experience.label}}<br>
                    {{ form.experience(class = "experience-tags")}}
                </div>
                    {{form.submit(class="button")}}
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}